@import "~materialize-css/dist/css/materialize.min.css";

input {
  color:rgb(200, 212, 212);
}

label {
  color: rgb(218, 218, 230) !important;
}

.card {
  margin-top: 20px !important;
}

h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.container {
  width: 70vw;
}